<!DOCTYPE html>
<html>
  <head>
    <title>SeedAndGrowth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header-logo">
        <%= link_to("TweetApp", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("ログイン", "/signup") %>
        </li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
